
.jumbotron {
    background-image: url(../img/header.jpg);
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 0rem;
    border-radius: 0 !important;
}
.grijs{
    background-color: rgb(234, 237, 242);
}